/* Home Page */

/* Item Tag */
.itemTag {
  /* box-shadow: 3px 3px 8px rgb(207, 207, 207); */
  /* this line is moved to js */

  border-radius: 5px;
  border-right: 5px solid;

  margin: 12px 10px;
  padding: 6px 12px;

  line-height: 1.5;

  position: relative;
}

.itemTagTime {
  display: flex;
  align-items: center;
}

.itemTagTime > svg {
  margin-right: 5px;
  font-size: 1.3em;
}

.itemTagComment {
  font-size: 0.85em;
  margin-top: 3px;
  color: gray;
}

.itemTagMore {
  position: absolute;
  top: 8px;
  right: 12px;
}

.itemTagMore > svg {
  font-size: 1.15rem;
}

/* Tool Bar */
.toolbar {
  position: sticky;
  left: 0; top: 0;
  width: 100%; height: 44px;

  /* background-color: #B5EAEA; */
  background-color: #B05B3B;
  color: whitesmoke;

  box-shadow: 0px 2px 8px 2px rgb(177, 177, 177);

  display: flex;
  align-items: center;

  padding: 0 12px;
  margin-bottom: 12px;

  z-index: 999;
}

.toolbar > input {
  width: 108px;
  line-height: 1.5;
  
  outline: none;

  border: 1px solid #FFBCBC;
  border-radius: 20px;
  padding: 0 10px;

  box-shadow: inset 1px 1px 3px gray;

  font-size: 1rem;
}

.toolbarToggle {
  display: flex;
  align-items: center;
  margin-left: 12px;

  font-size: 0.9em;
}

#toolbarCheckbox {
  font-size: 1.5em;
}

/* Header */
.header {
  font-size: 1.5em;
  line-height: 2;
  font-weight: 500;

  display: flex;
  justify-content: center;
  border-radius: 6px;
  margin: 3px;
}

/* Dialog */
.dialogCancelBtn, .dialogConfirmBtn {
  margin: 3px 20px;
}

.dialogConfirmBtn {
  color: #e22323;
}