.login {
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.3em;
}

.login > div {
  text-align: center;
}

.login * input {
  font-size: 1em;
  margin: 0.2em 0;
}

.login * button {
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 2em;
}